# MySQL (lo usa Docker Compose)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=courtbooking
MYSQL_USER=courtbooking
MYSQL_PASSWORD=

# API (lo usa .NET)
ConnectionStrings__Default="Server=localhost;Port=3307;Database=courtbooking;User=courtbooking;Password=;"

# COMANDO PARA CARGAR VARIABLES
# export $(grep -v '^#' .env | xargs)